{% extends 'layout.html' %} {% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="" class="signin">
    <div class="container">
        <img class="mb-4" src="{{ url_for('static', filename='img/auth.png') }}" " alt=" " width="72 " height="72 ">
        {{ render_field(form.username, class_="form-control ", placeholder="Пользователь") }}
        {% if isReg %}
            {{ render_field(form.email, class_="form-control ", placeholder="Электронный адрес ", Value="") }}
            {{ render_field(form.phone, class_="form-control ", placeholder="+7(123)456-78-90 ", Value="") }}
        {% endif %}
        {{ render_field(form.password, class_="form-control ", placeholder="Пароль", Value="") }}
        {% if btnRegOff %}
        <div class="checkbox mb-3 ">
            <label>
              <a href="/login/reg "> Регистрация
            </label>
        </div>
        {% endif %}
        <button class="btn btn-primary " type="submit ">Войти</button>
    </div>
</form>

{% endblock %}